body {
font-family: 'Noto Sans KR', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
	font-family: 'Noto Sans KR', sans-serif;
}
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}
hr.star-light {
  border-color: #fff;
}
hr.star-light:after {
  color: #fff;
  background-color: #7a40eb;
}
hr.star-dark {
  border-color: #2C3E50;
}
hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}
section {
  padding: 5rem 0;
}
section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}
#mainNav {
  /*padding-top: 1rem;
  padding-bottom: 1rem;*/
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
}
#mainNav .navbar-brand {
  color: #333;
}
#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #333;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #7a40eb;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #333;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #7a40eb;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  background:#7a40eb;
}
header.masthead {
  padding-top: 6rem;
/*  padding-bottom: 6rem;*/
}
header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
  text-shadow:1px 1px 6px #5b5b5b;
}
header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Noto Sans KR', sans-serif;
}
.portfolio {
  margin-bottom: -15px;
}
.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}
.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}
.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}
.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}
.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}
.floating-label-form-group {
  position: relative;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}
.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #7a40eb;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #fff;
  color: #666;
}
.footer p{
  margin-bottom: 0;
}
.copyright {
  background-color: #1a252f;
}
a {
  color: #7a40eb;
}
a:focus, a:hover, a:active {
  color: #128f76;
}
.btn {
  border-width: 2px;
}
.bg-primary {
  background-color: #000 !important;
}
.bg-secondary {
  background-color: #fff !important;
}
.text-primary {
  color: #7a40eb !important;
}
.text-secondary {
  color: #2C3E50 !important;
}
.btn-primary {
  background-color: #7a40eb;
  border-color: #7a40eb;
  width:100%; 
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #1f128f;
  border-color: #1f128f;
}
.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}



.container{max-width:1200px !important;}

#free{background-color: #dbb73b;  padding: 2.5rem 0 !important;}
.flip0 {height: 200px;}
.flip1 {width: 25%; float:left;}
.flip2 {width: 40%; float:left;}
.flip3 {width: 35%; float:left;}
.flip4 {display:none;}
.free1_txt{margin-bottom: 10px; margin-right: 20px; max-width: 100%}
.free2_txt{margin-bottom: 10px; margin-right: 20px; max-width: 100%}
.free3_txt{margin-bottom: 10px; margin-right: 20px; max-width: 100%}
.free4_txt{margin-bottom: 10px; margin-right: 20px; max-width: 100%}
.kakao_btn{margin-left: 20px; max-width: 100%}
.kakao_btm{margin-left: 20px; max-width: 100%}

#con1{background:#fff8e6; }
.con1_txt1{display: block; margin: 0 auto; padding: 10px 0;}
.con1_txt2{display: block; margin: 0 auto; padding: 10px 0;}
.con1_txt3{display: block; margin: 0 auto; padding: 20px 0;}
.con1_wrap{padding-top: 30px; text-align: center;}
.con1_txt4{display: inline-block; float: left; margin-top: 20px;}
.con1_img{display: inline-block;}

#con2{background-color: #000;}
.con2_txt{display: block; margin: 0 auto; padding: 40px 0 20px 0;}

#con3{background-color:#fff}
.con3_txt1{display: block; margin: 0 auto; max-width: 80%}
.con3_txt2{display: block; margin: 0 auto; max-width: 80%; padding: 30px 0 0 0;}
.con3_img{}

#con4{background-color: #f1f1f1}
.con4_txt1{display: block; margin: 0 auto; padding: 10px 0 0 0;}
.con4_txt2{display: block; margin: 0 auto; 
padding: 40px 0;}
.con4_txt3{display: block; margin: 0 auto;}
.user{margin-bottom: 40px; padding-bottom: 10px; text-align: center; }
/*	box-shadow:1px 1px 20px rgba(0,0,0,0.1);}*/

#con5{background-color:#000}
.con5_img{padding-bottom: 30px; border-bottom: 2px solid #ffaf23}
.con5_txt{display: block; margin: 0 auto; padding-top: 20px;}
.con5_img_wrap{position: relative;}
.con5_img_txt{position: absolute;top: 46%;display: block;/* width: 40%; */padding: 0 25%;margin: 0 auto;text-align: center;}

/*
.contact_txt{padding:10px; margin-top:10px; border:1px solid #ccc; max-height:200px; overflow:scroll;}
.contact_txt h3{font-size:20px; padding-bottom:10px; }
.contact_txt p{word-break:keep-all;}
*/


@media(max-width:1062px){
	#free{padding: 0.5rem 0 !important;}
	.free2_txt, .free3_txt, .free4_txt{clear: both; display: block; max-width: 75%; text-align: center; margin: 0 auto; padding: 20px 0 10px 0;}
	.kakao_btn{clear: both; display: block; max-width: 60%; text-align: center; margin: 0 auto; padding: 10px 0;}
	.kakao_btm{clear: both; display: block; max-width: 80%; text-align: center; margin: 0 auto; padding: 10px 0;}	
	.free1_txt{clear: both; display: block; max-width: 50%; text-align: center; margin: 0 auto; padding: 10px 0 0 0;}
	.flip0 {height: 280px}
	.flip1 {display:none;}
	.flip2 {width: 80%;margin:0 8%}
	.flip3 {display:none;}
	.flip4 {width: 100%; display:block;}
}

@media(max-width:700px){
	section{padding:1.5rem 0;}
	section h2{font-size:1.7rem !important;}
	section .mt-5{margin-top:2rem !important;}
	h2.text-uppercase{margin-bottom:1.5rem !important;}
	.img_100{width:100%;}
/*	.navbar-brand img{width:80%;}*/
	header.masthead{padding-top: 2.5rem;}
	header .masthead h1{font-size:2.1rem; margin-bottom:2rem !important;}
	header .masthead h2{font-size:1rem;}
	/*
	.contact_txt h3{font-size:18px;}
	.contact_txt p{font-size:13px;}
	*/
	.con3_txt2{max-width: 100%; padding: 20px 0 0 0;}
	.con4_txt2{padding: 30px 0 20px 0;}
	.con5_img_txt{position: absolute;top: 44%;}
	.footer{padding-top:2rem !important; padding-bottom:2rem !important;}
	.footer p{font-size:14px !important;}
	.flip0 {height: 200px}
}

@media(max-width:500px){
	.con5_img_txt{position: absolute;top: 43%;}
	.flip0 {height: 180px}	
	.flip2 {width: 78%;margin:0 9%}
	.main_img{padding-bottom: 1px;}
}

@media(max-width:375px){
	.con5_img_txt{position: absolute;top: 42%;}
	.flip0 {height: 130px}		
	.flip2 {width: 86%;margin:0 4%}	
}

@media(max-width:360px){
	.flip0 .container {padding-left: 5px; padding-right: 5px;}
	.flip2 {width: 100%; margin:0 0 0 3%;}	
}

@media(max-width:320px){
	.con5_img_txt{position: absolute;top: 41%;}
	.flip0 .container {padding-left: 5px; padding-right: 5px;}
	.flip2 {width: 100%; margin:0 0 0 -5%;}	
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #7a40eb;
   /* background: #7a40eb;*/
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #7a40eb;
   /* background: #7a40eb;*/
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
	
  header.masthead {
/*
    padding-top: calc(10rem + 106px);
    padding-bottom: 10rem;
*/
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}




/*ìƒë‹´ì‹ ì²­í•˜ê¸°*/
#contact h2{font-size: 23px;}
#contact form{ font-size: 13px;}
#contact p{margin: 0;}
#contact input{background: #eee; border-radius: 3px; padding: 5px;}
#contact textarea{background: #eee; border-radius: 3px; padding: 5px;}
#contact .text-danger{margin:0}
#contact .btn{font-size: 17px; margin-top: 15px; padding: 5px;}

.sub_qBtn ul{position: fixed; right: 10px; bottom: 0px; z-index: 99999;}
.sub_qBtn ul li{list-style:none;}
.sub_qBtn ul li img{width:100%; max-width:100px;}

@media (max-width: 987px) {
	.sub_qBtn ul{bottom: 77px;}
	.sub_qBtn ul li img{max-width:70px;}
}



